* {
  margin: 0;
  padding: 0;
}

body {
  background-color: azure;
}

nav {
  width: 100%;
  height: 60px;
  background-color: rgb(43, 43, 43);
}

nav p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 22px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
  margin-top: 3px;
}

nav ul {
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff66;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: grey;
}
nav ul li a.active {
  color: white;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: black;
  padding: 5px;
  padding-left: 0px;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li a {
  padding: 8px 14px;
  width: 100%;
}
nav ul li ul li a:hover {
  background-color: gray;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.jumbotron {
  padding: 2% 10% 4% 10%;
  background-color: rgb(218, 218, 218);
}

.button {
  background-color: rgb(45, 45, 189);
  border-radius: 7px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

.jumbotron h1 {
  font-size: 50px;
  font-family: sans-serif;
}

.jumbotron p {
  padding: 20px 0px;
}

.search {
  margin-top: 15px;
  float: right;
  margin-right: 20px;
}

input[type="text"] {
  padding: 8px;
  border: none;
  font-size: 15px;
  font-family: sans-serif;
  border-radius: 5px;
}

.submit-btn {
  float: right;
  background-color: rgb(43, 43, 43);
  border-radius: 5px;
  border: 1px solid #18ab29;
  /* display: inline-block; */
  cursor: pointer;
  color: #399934;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 10px;
  margin-left: 5px;
  text-decoration: none;
}

.content-container {
  display: grid;
  font-size: 15px;
  font-family: sans-serif;
  padding: 2% 10% 8% 10%;
  grid-template-columns: auto auto auto;
}

.content-item {
    text-align: left;
    padding-right: 15px;
}

.content-heading{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.content-body{
    margin-bottom: 15px;
}

.content-details-btn{
    background-color:#2b2b2b;
	border-radius:5px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 15px;
	text-decoration:none;
}

.content-details-btn:hover {
    background-color:#70717a;
}

.footer{
    margin: 0 10%;
}